@font-face {
  font-family: Monofett;
  src: url("../fonts/Monofett/Monofett-Regular.ttf");
  /* src: url("../fonts/monofett-font/Monofett.ttf"); */
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: black;
}


/* @import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap'); */

body {
  background-color: #67E696;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 100%;
  border: 0;
  background-color: black;
}

h1 {
  margin-top: 0;
  padding-left: 25%;
}

highlight {
  color: #67E696;
}

accent {
  color: white;
}

.title {
  font-family: "Monofett", sans-serif;
  font-size: 72px;
  color: white;
}

h2 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 3.5vw;
  font-weight: black;
}

.container {
  position: absolute;
  top: 250px;
  width: 100%;
}

.description {
  padding-left: 25vw;
  margin: 0;
  margin-bottom: 2vw;
  width: 30%;
}

.play-button {
  width: 20vw;
  height: 6vw;
  margin-left: 25%;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border: 0;
  box-shadow: 0 0.1vw 0.2vw rgba(0,0,0,0.12), 0 0.1vw 0.2vw rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  border-radius: 6vw;
  background-image: linear-gradient(to right, #000000 0%, #28593A 40%, #a6ffea 100%)
}

.play-button:hover{
  box-shadow: 0 0.3vw 0.6vw rgba(0,0,0,0.19), 0 0.3vw 0.3vw rgba(0,0,0,0.23);
  margin: 0.3vw 25vw 0.5vw;
  background-position: right center;
}

.play-text {
  color: white;
  margin: 0;
}

#goat-1 {
  position: absolute;
  left: -2%;
  top: 250px;
  width: 9%;
}

#goat-2 {
  position: absolute;
  top: calc(250px + 8vw);
  left: 5%;
  width: 15%;
}

#goat-3 {
  position: absolute;
  top: calc(250px + 24vw);
  left: 1.5%;
  width: 10%;
}

#goat-4 {
  position: absolute;
  top: 250px;
  left: 57%;
  width: 12%;
}

#goat-5 {
  position: absolute;
  top: calc(250px + 8vw);
  left: 67%;
  width: 18%;
}

#goat-6 {
  position: absolute;
  top: calc(250px + 22vw);
  left: 60%;
  width: 8%;
}

#goat-7 {
  position: absolute;
  top: calc(250px + 2vw);
  left: 84%;
  width: 13%;
}

#goat-8 {
  position: absolute;
  top: calc(250px + 22vw);
  left: 90%;
  width: 11%;
}

img:hover {
  transform: translate(0.24vw, 0.32vw);
}
